* {
   background-color: #ffffff;
}

body {
	font-family: 'Times New Roman', serif;
	cursor: crosshair;
	width: auto;
	margin: 10%;
	padding: 1%;
	border: 3px #000000 double;
	background: none;
}

h1 a {
	font-family: 'Jacquarda Bastarda 9 Charted', system-ui;
	font-size: 1.6em;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	background: none;
}

h1:hover a:hover{
	color: #FFFF00;
	text-shadow: 3px 3px #ff00fb;
	background-color: #ADFF2F;
	text-decoration:underline;
	text-decoration-style: dotted;
}

h2 {
	font-family: 'Arial Black', sans-serif;
	letter-spacing: .5em;
}

#bio {
	text-align: justify;
}

p {
	color: #000000;
	font-size: 1.5em;
	line-height: 1.3em;
}

p a {
	color: #0000ff;
	text-decoration: none;
}

p a:hover {
	color:#0000ff;
	text-decoration-style:double;
	text-decoration-line:line-through;
	text-decoration-color: #ff0000;
}


.dotted {
	border-top: 2px dotted #000000;
}

#links {
	text-align: left;
}

#links a {
	color: #000000;
	letter-spacing: .2em;
}

#links a:hover {
	color: #0000ff;
}

#footer #copyright {
	color: black;
	font-size:small;
	font-weight:200;
	line-height:1.75em;
}

img {
	max-width: 500px;
	max-height: 500px;
}

span.hover-card{
	border:3px #0000ff solid;
}

.hover-text span.hover-card{
	display: none;
}

.hover-text:hover span.hover-card{
	display: flex;
	position: absolute;
}

.hover-text{
	position: relative;
}

#joonsung {
	text-align: right;
	font-size: 2.5em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 2px 2px 2px #ececec;   
	font-family: "Moirai One", system-ui;
}

#joonsung:hover {
	color: #FFFF00;
	text-shadow: 5px 2px #ff00fb;
}

#message {
	color: #0000ff;
	font-size: 1.5em;
	font-family: 'Yarndings 20 Charted'; 
	text-align:center;
}

#message:hover{
	font-family: 'Arial Black', sans-serif;
	letter-spacing: 4px;
}