* {
   background-color: #ffffff;
}

body {
	font-family: 'Archivo', 'Helvetica Neue', sans-serif;
	cursor: crosshair;
	width: auto;
	margin: 2%;
	padding: 1%;
	border: 3px black double;

}


#header {
	text-align: left;
	position: relative;
}

#header p {
	background-color: #f2f4ef;
	padding: 1%;
	color: #000000;
	font-size: 1em;
	text-align: justify;
}

h1 {
	margin-bottom: 5%;
}

h1 a {
	font-family: Archivo, 'Helvetica Neue', sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

h1:hover a:hover{
	color: #f8e81c;
	text-shadow: 3px 3px #34ab55;
	text-decoration:underline;
	text-decoration-style: dotted;
}

#bio {
	text-align:justify;
	position: relative;
}

p {
	color: #000000;
	font-size: 1.85em;
	font-weight: 300;
	line-height: 1.25em;
}

p a {
	color: #0000ff;
	text-decoration: none;
}

.announcement {
	width:75%; 
	background-color: #f2f4ef;
	padding: 1%;
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5em;
}

.announcement a, span, u {
	background-color: #f2f4ef;
}

.dotted {
	border-top: 2px dotted #000000;
}

p a:hover {
	color:#000000;
	text-decoration-style: wavy;
	text-decoration-line: underline;
	text-decoration-color: #34ab55;
}


h2 {
	font-family: Archivo, 'Helvetica Neue', sans-serif;
	font-weight: 500;
	margin-bottom: 2%;
	text-indent: 3px;
}

#links {
	text-align: left;
}

#links a {
	color: #000000;
	letter-spacing: .2em;
}

#links a:hover {
	color: #0000ff;
}

#footer #copyright {
	color: black;
	font-size:small;
	font-weight:200;
	line-height:1.75em;
}


#trigrams {
	text-align: center;
	width:max-content;
	color:#ffffff;
	font-size: 20px;
	margin: auto;
}

#trigrams:hover {
	color: #0000ff;
}
