* {
   background-color: #ffffff;
}

body {
	font-family: 'Archivo', 'Helvetica Neue', sans-serif;
	cursor: crosshair;
	width: auto;
	margin: 2%;
	padding: 1%;
	border: 3px black double;

}



#header {
	text-align: left;
	position: relative;
}

#bio {
	text-align:justify;
	float:left;
	position: relative;
}

p {
	color: #000000;
	font-size: 2em;
	font-weight: 300;
	line-height: 1.2em;
}

p strong {
	font-weight: 500;
}

p a {
	color: #0000ff;
	text-decoration: none;
}

p a:hover {
	color:#000000;
	text-decoration-line: underline overline;
	text-decoration-color: #d6d6d6;
}

h1 a {
	font-family: Archivo, 'Helvetica Neue', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

h1:hover a:hover{
	color: #f8e81c;
	text-shadow: 3px 3px #34ab55;
	text-decoration:underline;
	text-decoration-style: dotted;
}

h2 {
	font-family: Archivo, 'Helvetica Neue', sans-serif;
	font-weight: 500;
	margin-bottom: 2%;
	text-indent: 3px;
}

#links {
	text-align: left;
}

#links a {
	color: #000000;
	letter-spacing: .2em;
}

#links a:hover {
	color: #0000ff;
}

#footer #copyright {
	color: black;
	font-size:small;
	font-weight:200;
}


#trigrams {
	text-align: center;
	width:max-content;
	color:#ffffff;
	font-size: 20px;
	margin: auto;
}

#trigrams:hover {
	color: #0000ff;
}
